{% extends "base.html" %}
{%block title%}Coffee and Connections{%endblock%}

{% block content %}

<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">{{heading_text.h1_container}}</h1>
            <p class="lead fw-normal text-white-50 mb-0">{{heading_text.p_container}}</p>
        </div>
    </div>
</header>
<!-- Section-->
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5 main-div">
        <div class="row gx-4 gx-lg-5 row-cols-1 row-cols-md-3 row-cols-xl-4 justify-content-center card-container">
            {% for cafe in cafes %}
            <div class="col mb-5">
                
                <div class="card h-100">
                    <!-- Cafe image-->
                    <img class="card-img-top" src="{{cafe.img_url}}" alt="..." />
                    <!-- Cafe details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Cafe Name-->
                            <h5 class="fw-bolder">{{ cafe.name}}</h5>
                            <!-- Location-->
                            {{cafe.location}}
                        </div>
                    </div>
                    <!-- Cafe actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{{url_for('get_cafe', cafe_id = cafe.id)}}">View Details</a></div>

                        {% if logged_in %}
                            {% if cafe in fav_cafes%}
                            <div name='favorite-icon' id='favorite-icon' class="favorite-icon text-center"><a href="{{url_for('add_favorite', cafe_id=cafe.id)}}" ><i class="fa-solid fa-heart"></i></a></div>
                            {% else %}
                            <div name='favorite-icon' id='favorite-icon' class="text-center"><a href="{{url_for('add_favorite', cafe_id=cafe.id)}}" ><i class="fa-regular fa-heart"></i></a></div>
                            {% endif %}
                        {% endif %}
                        
                     
                         
                       <!-- <div class="text-center"><a href="{{url_for('add_favorite', cafe_id=cafe.id)}}">
                            <i class="fa-light fa-heart"></i>
                        </a></div> -->
                    </div>
                </div>
                
            </div>
            {% endfor %}
        </div>
    </div>
</section>

{% endblock  %}